<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenWeatherMap Example</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <link rel="stylesheet" href="../static/index.css">
     <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
    <script src="../static/main.js" defer></script>
    <script src = "../static/Pelaaja.js"></script>
    <script>
        window.playerId = "{{ player_id }}";
</script>
</head>
<body>
<div id="container">
    <div id="map" class="gameboard" style="width: 40%; height: 100vh;"></div>
    <div id = "liput">


    </div>
    <div class="buttons">
        <button class="button matkaliput" id="matkaliput-button">Matkaliput</button>
        <button class="button nostakortti" id="nostakortti">Nosta kortti</button>
        <button class ="button säännöt" id = "säännöt-button">Säännöt</button>
    </div>
    <div class="kortit">
        <div>
        <p id="jokeri_nr"></p>
        <img class="kortti" src="../static/kortit/jokeri_kortti.jpg" alt="jokeri kortti">
        </div>
        <div>
        <p id="keltainen_nr"></p>
        <img class="kortti" src="../static/kortit/keltainen_kortti.jpg" alt="keltainen kortti">
        </div>
        <div>
        <p id="punainen_nr"></p>
        <img class="kortti" src="../static/kortit/punainen_kortti.jpg" alt="punainen kortti">
        </div>
        <div>
        <p id="sininen_nr"></p>
        <img class="kortti" src="../static/kortit/sininen_kortti.jpg" alt="sininen kortti">
            </div>
    </div>
</div>

    <div id="player-input">
        <form id="player-form">
            <input type="text" id="player-name" placeholder="Player name" required>
            <input type="submit" value="start game">
        </form>

    </div>
<article id = 'mainTitle'>
    Matkalippupeli
</article>

</body>
</html>
